#loader {
    background-color: #ffffff;
    background-image: url("../images/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;
}